{:deps {dev.onionpancakes/serval-core     {:local/root "./modules/serval-core"}
        dev.onionpancakes/serval-jetty    {:local/root "./modules/serval-jetty"}
        dev.onionpancakes/serval-reitit   {:local/root "./modules/serval-reitit"}
        dev.onionpancakes/serval-jsonista {:local/root "./modules/serval-jsonista"}
        dev.onionpancakes/serval-mock     {:local/root "./modules/serval-mock"}}

 :aliases
 {:dev
  {:extra-deps  {org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}
                 funcool/promesa        {:mvn/version "6.0.2"}}
   :extra-paths ["dev"
                 "./modules/serval-core/test"
                 "./modules/serval-jsonista/test"
                 "./modules/serval-reitit/test"
                 "./modules/serval-mock/test"]}

  :run-tests
  {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :extra-paths ["./modules/serval-core/test"
                 "./modules/serval-jsonista/test"
                 "./modules/serval-reitit/test"
                 "./modules/serval-mock/test"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs     ["./modules/serval-core/test"
                            "./modules/serval-jsonista/test"
                            "./modules/serval-reitit/test"
                            "./modules/serval-mock/test"]
                 :patterns ["dev\\.onionpancakes\\.serval\\.tests\\..*"]}}}}
