{:deps {org.clojure/clojure                 {:mvn/version "1.11.1"}
        dev.onionpancakes/serval-core       {:local/root "./modules/serval-core"}
        dev.onionpancakes/serval-core-async {:local/root "./modules/serval-core-async"}
        dev.onionpancakes/serval-jetty      {:local/root "./modules/serval-jetty"}
        dev.onionpancakes/serval-jetty-test {:local/root "./modules/serval-jetty-test"}
        dev.onionpancakes/serval-jsonista   {:local/root "./modules/serval-jsonista"}
        dev.onionpancakes/serval-reitit     {:local/root "./modules/serval-reitit"}
        dev.onionpancakes/serval-transit    {:local/root "./modules/serval-transit"}}

 :aliases
 {:dev
  {:extra-deps  {org.slf4j/slf4j-simple {:mvn/version "2.0.7"}
                 funcool/promesa        {:mvn/version "11.0.674"}}
   :extra-paths ["dev"
                 "./modules/serval-core/test"
                 "./modules/serval-core-async/test"
                 "./modules/serval-jetty/test"
                 "./modules/serval-jetty-test/test"
                 "./modules/serval-jsonista/test"
                 "./modules/serval-reitit/test"
                 "./modules/serval-transit/test"]}
  :run-tests
  {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :extra-paths ["./modules/serval-core/test"
                 "./modules/serval-core-async/test"
                 "./modules/serval-jetty/test"
                 "./modules/serval-jetty-test/test"
                 "./modules/serval-jsonista/test"
                 "./modules/serval-reitit/test"
                 "./modules/serval-transit/test"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs     ["./modules/serval-core/test"
                            "./modules/serval-core-async/test"
                            "./modules/serval-jetty/test"
                            "./modules/serval-jetty-test/test"
                            "./modules/serval-jsonista/test"
                            "./modules/serval-reitit/test"
                            "./modules/serval-transit/test"]
                 :patterns ["dev\\.onionpancakes\\.serval\\..+\\.tests\\..*"]}}}}
