{:deps  {org.clojure/clojure            {:mvn/version "1.11.3"}
         dev.onionpancakes/serval-jetty {:local/root "../serval-jetty"}
         dev.onionpancakes/hop          {:git/url "https://github.com/onionpancakes/hop"
                                         :git/sha "2374ccc40f6187d02a93ad7ada0c55fae3c09721"}}
 :paths ["src"]}
