{:deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         dev.onionpancakes/serval-jetty {:local/root "../serval-jetty"}
         dev.onionpancakes/hop          {:git/url "https://github.com/onionpancakes/hop"
                                         :git/sha "57d87647924f465a5032a959c724ffe927a8d81e"}}
 :paths ["src"]}
