{:deps  {org.clojure/clojure                        {:mvn/version "1.11.1"}
         jakarta.servlet/jakarta.servlet-api        {:mvn/version "6.0.0"}
         org.eclipse.jetty/jetty-server             {:mvn/version "12.0.0"}
         org.eclipse.jetty.http2/jetty-http2-server {:mvn/version "12.0.0"}
         org.eclipse.jetty.ee10/jetty-ee10-servlet  {:mvn/version "12.0.0"}}
 :paths ["src"]}
