{:deps  {dev.onionpancakes/serval {:local/root "../.."}
         org.slf4j/slf4j-simple   {:mvn/version "2.0.0-alpha5"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :start
  {:main-opts ["-m" "dev.onionpancakes.serval.examples.hello-world.server"]}}}
