{:deps  {dev.onionpancakes/serval-core    {:local/root "../../modules/serval-core"}
         dev.onionpancakes/serval-jetty   {:local/root "../../modules/serval-jetty"}
         dev.onionpancakes/serval-chassis {:local/root "../../modules/serval-chassis"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-deps  {dev.onionpancakes/serval-jetty-test {:local/root "../../modules/serval-jetty-test"}
                 org.slf4j/slf4j-simple              {:mvn/version "2.0.13"}}
   :extra-paths ["dev" "test"]}

  :start
  {:extra-deps {org.slf4j/slf4j-simple {:mvn/version "2.0.13"}}
   :main-opts  ["-m" "dev.onionpancakes.serval.examples.todo.main"]}

  :run-tests
  {:extra-deps  {dev.onionpancakes/serval-jetty-test  {:local/root "../../modules/serval-jetty-test"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :extra-paths ["test"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs     ["test"]
                 :patterns ["dev\\.onionpancakes\\.serval\\.examples\\.todo\\.tests\\..*"]}}}}
