{:deps  {org.clojure/clojure       {:mvn/version "1.11.1"}
         dev.onionpancakes/chassis {:git/url "https://github.com/onionpancakes/chassis"
                                    :git/sha "c8e190510f799bf6f70a219af08ef3ad3f2ca57a"}}
 :paths ["src"]}
